@import "../../../../../default";

.main {
  width: 400px;
  height: 100%;
  padding: 20px;
  background: @self-dark-background;
  overflow: auto;

  .commonEdit {
    margin-bottom: 10px;

    .label {
      font-size: 14px;
    }
  }

  .info {
    font-size: 12px;
    color: #686868;
    margin-bottom: 10px;
  }
}
